<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title><%= title%></title>
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <style type="text/css">
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2eba0061;
        height: auto;
        padding: 0 20px;
      }
      .card-container {
        display: flex;
        text-align: center;
        height: auto;
        padding: 100px;
      }
      .size {
        width: 50px;
        height: 50px;
      }

      .illuminated {
        width: 50px;
        height: 50px;
        background-color: rgb(242, 247, 221);
      }
      .wall {
        width: 50px;
        height: 50px;
        background-color: rgb(128, 128, 128);
      }
      .lightBulb {
        width: 50px;
        height: 50px;
        background-color: rgb(240, 248, 206);
      }
      .light {
        color: rgb(129, 111, 4);
        margin-top: 10px;
      }

      .lineBlock {
        display: flex;
      }
      i {
        margin: 0;
        padding: 0;
        font-size: 20px;
      }
      .brick {
        margin: 0;
        padding: 0;
        font-size: 55px;
        color: rgb(170 164 164);
        border: none;
      }
    </style>

    <div class="container">
      <div class="card-container">
        <div class="row">
          <% data.forEach((element) => { %>
          <div class="lineBlock">
            <% element.forEach((i) => { if(i == 1){ %>
            <div class="wall text-center">
              <i class="fab fa-microsoft brick"></i>
            </div>
            <% } else if(i == 0) { %>
            <div class="illuminated"></div>
            <% } else { %>
            <div class="lightBulb text-center">
              <i class="fas fa-lightbulb light"></i>
            </div>
            <% } }) %>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
